img {
  max-width: 100%;
  &.panoramikoa {
    width: 100vw; }
  &.horizontala {
    width: 100%; }
  &.bertikala {
    width: 50%; }
}

h1.titularra {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 8rem;
  border-bottom: .2rem solid grey;
  padding-bottom: .2em;
}

h2.sarrera {
  font-size: 2rem;
  font-weight: normal;
  padding: 1em 0;
  margin: .5em 0;
  font-family: @light;
}

p.sinadura {
  font-family: @semibold;
  font-size: 1.3rem;
  padding: 2em 0 .2em 0;
  margin-bottom: 2em;
  font-style: italic;
  border-bottom: .05em solid grey;
  .sinadura-data {
    font-family: @light;
  }
}

p.testua {}

.irudiak {
  position: relative;
  p.oina {
    font-size: 1.3rem;
    position: absolute;
    right: -12em;
    width: 11em;
    bottom: 0;
    margin-bottom: 0;
    font-family: @light;
    line-height: 1.5em;
  }
  .sinadura-irudia {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
    padding-left: .3em;
    font-size: 1.2em
  }
}
