img {
  max-width: 100%;
  &.panoramikoa {
    width: 100vw; }
  &.horizontala {
    width: 100%; }
  &.bertikala {
    width: 50%; }
}

h1.titularra {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 8rem;
}

h2.sarrera {
  font-size: 1.8rem;
  font-weight: normal;
}

p.sinadura {
  font-weight: bold;
  .sinadura-data {}
}

p.testua {}

.irudiak {
  position: relative;
  p.oina {
    font-size: 1.2rem;
    position: absolute;
    right: -14em;
    width: 13em;
    bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  .sinadura-irudia {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
    padding-left: .5em;
  }
}
