header {
  position: relative;
  background-image: url('../images/azala.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin-bottom: 4rem;
  .headerTestua {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font-size: 0;
  }
  h1, h2 {
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    text-align: center;
    width: 100%;
    img {
      width: 50%;
    }
    @media (min-width: @screen-sm-min) {
      width: 30%;
      img {
        width: 80%;
      }
    }
    @media (min-width: @screen-lg-min) {
      width: 50%;
      img {
        width: 30%;
      }
    }
  }
  h2 {
    width: 96%;
    margin: 2%;
    border-bottom: .5rem solid @pink;
    padding-bottom: .5em;
    text-align: center;
    a {
      text-transform: uppercase;
      font-family: @body;
      color: white;
      font-weight: bold;
      font-size: 5rem;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    @media (min-width: @screen-sm-min) {
      width: 31%;
      text-align: left;
    }
    @media (min-width: @screen-lg-min) {
      width: 21%;
    }
    &:nth-child(3) {
      @media (min-width: @screen-sm-min) {
        text-align: right;
      }
    }
  }
  img {
    width: 100%;
  }
}
