header {
  z-index: 1;
  position: relative;
  margin-bottom: 4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100vw 120%;
  img.azala {
    width: 100%;
  }
  @media (min-width: @screen-sm-min) {
    background-image: url('../images/azala.jpg');
    background-size: cover;
    height: 100vh;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }
  .headerTestua {
    width: 100%;
    margin-left: 0;
    padding: 0 1%;
    position: absolute;
    bottom: 0;
    background: rgba(30,30,30,.7);
    .bigHeader {
      display: none;
    }
    @media (min-width: @screen-sm-min) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      background: none;
      .bigHeader {
        display: block;
        text-align: center;
        .down {
          color: white;
          font-size: 3.5rem;
          margin: 0 auto;
          .glyphicon {
            margin-bottom: .5em;
          }
        }
        .ahomentan {
          display: block;
          width: 100%;
          text-align: center;
          img {
            width: 80%;
            display: inline;
          }
        }
      }
    }
    h2 {
      border-bottom: .3rem solid @pink;
      padding-bottom: .5em;
      text-align: center;
      @media (min-width: @screen-sm-min) {
        text-align: right;
        padding: 0 0 .5em 5%;
      }
      &:nth-child(3) {
        @media (max-width: @screen-xs-max) {
          border-bottom: none;
        }
      }
      @media (min-width: @screen-sm-min) {
        border-bottom: .5rem solid @pink;
        &:nth-child(1) {
          padding: 0 5% .5em 0;
          text-align: left;
        }
      }
    }
    a {
      text-transform: uppercase;
      font-family: @body;
      color: white;
      font-weight: bold;
      font-size: 3rem;
      @media (min-width: @screen-sm-min) {
        font-size: 5rem;
      }
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:focus {
        text-decoration: none;
        color: white;
      }
      &:active {
        text-decoration: none;
        color: white;
      }
    }
  }
}
