.esanak {
  margin: 4rem 0 !important;
  font-size: 0;
  background: lighten(#000, 85%);
  .responsive(12,12,12);
  .esanakEdukia {
    .responsive(12,8,6);
    padding: 2rem 0;
    &:nth-child(even) {
      .esanakTestua {
        padding-right: 5%;
        padding-left: 0;
      }
    }
  }
  img {
    width: 25%;
  }
  .esanakTestua {
    display: inline-block;
    width: 75%;
    padding-left: 5%;
    vertical-align: middle;
  }
}

.esanakTestua p {
  font-family: @serif;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1.4em;
  text-align: center;
  &.sinadura {
    font-size: 1.6rem;
    padding-top: .5em;
  }
}
