.esanak {
  margin: 2rem 0 !important;
  font-size: 0;
  background: lighten(#000, 80%);
  .responsive(12,12,12);
  .esanakEdukia {
    .responsive(12,8,6);
    padding: 2rem 0;
  }
  img {
    width: 25%;
  }
  .esanakTestua {
    display: inline-block;
    width: 75%;
    padding-left: 5%;
  }
}
.esanakTestua p {
  font-family: @serif;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1.4em;
  text-align: center;
  &.sinadura {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
  }
}
