header h2 {
  border-bottom: .5rem solid #ff0066;
}
svg path#karratua {
  fill: #ff0066 !important;
}
h1#titularra {
  border-bottom: .3rem solid #ff0066;
}

gorria: #ff0033;
arrosa: #ff0066;
horia: #ffff00;
berdea: #bfff00;
urdina: #00ccff;
laranja: #ff4d00;
morea: #cc00ff;
